.navBar {
    background-color: orangered;
    height: 100px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 60%;
    margin: 0 auto 0;
    margin-bottom: 100px;
}