.navBar {    
    background-color:rgb(191, 0, 0);
    height: 100px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 60%;
    margin: 0 auto 0;
    margin-bottom: 100px;
    border: solid black 1px; 
}

h2 {
    color: white;
    text-align: center;
    padding-top: 16px;
    font-weight: bolder;
    font-size: 36px;
}